.button {
    align-items: center;
    background: var(--blue);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    padding: calc(1rem - 1px);
    transition: all 100ms ease-in-out;
}

.button:hover {
    background: var(--blue500);
}

.button:active {
    background: var(--blue700);
}

.button >
.icon {
    margin-right: 0.5rem;
}

/* Full */
.button.full {
    justify-content: center;
}

/* Secondary */

.button.secondary {
    background: transparent;
    border-color: var(--blue);
    color: var(--blue);
}

.button.secondary:hover {
    border-color: var(--blue500);
    color: var(--blue500);
}

.button.secondary:active {
    border-color: var(--blue700);
    color: var(--blue700);
}

.button.danger { background: var(--red500) }
.button.danger:hover { background: var(--red400) }

.button.warning { background: var(--orange500) }