body {
    background: var(--gray100);
    color: var(--gray900);
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem auto 1.5rem;
    max-width: var(--tablet);
    width: 100%;
}

.container
.none-found {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
}

/* Tablet */
@media (max-width: 1000px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
        width: inherit;
    }
}

a,
.faux-link {
    color: var(--blue);
    cursor: pointer;
    text-decoration: none;
}

a:hover,
.faux-link:hover {
    color: var(--light-blue);
}

.click {
    cursor: pointer;
}

.overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}