body {
    background: var(--gray10);
    color: var(--gray90);
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 1em auto;
    max-width: var(--tablet);
    width: 100%;
}

/* Tablet */
@media (max-width: 1000px) {
    .container {
        margin-left: 1em;
        margin-right: 1em;
        width: inherit;
    }
}

a,
.faux-link {
    color: var(--blue);
    cursor: pointer;
    text-decoration: none;
}

a:hover,
.faux-link:hover {
    color: var(--light-blue);
}

.icon {
    cursor: pointer;
}

.overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}