input, .input {
    background: white;
    border: var(--border-white);
    border-radius: var(--border-radius);
    box-shadow: inset 1px 1px 4px var(--gray300);
    font-size: 1rem;
    padding: 0.5rem;
    transition: all var(--an-md);
}

input:focus, .input:focus {
    border-color: var(--blue400);
    box-shadow: inset 1px 1px 2px var(--gray300);
    outline: none;
}