.hero {
    background: var(--blue90);
    color: white;
    padding: 2em 0;
}

.hero
.container {
    align-items: center;
    grid-template-columns: 1fr min-content;
}

.hero
.icon {
    opacity: 0.5;
    transition: all var(--an-md);
}

.hero
.icon:hover {
    opacity: 1;
}