.hero {
    background: var(--blue900);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 2em 0;
    transition: all var(--an-md);
}

.hero
.container {
    align-items: center;
    grid-template-columns: 1fr min-content;
}

.hero
.icon {
    opacity: 0.5;
    transition: all var(--an-md);
}

.hero
.icon:hover {
    opacity: 1;
}

.hero.type-social_studies {
    background: var(--dark-red);
}
.hero.type-general_education {
    background: var(--dark-orange);
}
.hero.type-language_arts {
    background: var(--dark-teal);
}
.hero.type-math {
    background: var(--dark-purple);
}
.hero.type-science {
    background: var(--dark-green);
}