.menu {
    position: relative;
}

.menu.open
.icon {
    color: var(--blue500);
}

.menu
.options {
    background: white;
    box-shadow: var(--drop-shadow);
    border: var(--border-white);
    border-radius: var(--border-radius);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
}

.menu
.options
.option {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 1rem;
}

.menu
.options
.option:hover {
    background: var(--blue50);
}

.menu
.color-bubble {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    height: 0.75rem;
    margin-right: 0.5rem;
    width: 0.75rem;
}

.menu .color-bubble.yellow { background: var(--yellowA400) }
.menu .color-bubble.orange { background: var(--amberA700) }
.menu .color-bubble.pink { background: var(--pinkA100) }