.schedule.container
.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.schedule.container
.list
.section {
    align-items: center;
    background: white;
    border: var(--border-white);
    color: var(--text);
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: column nowrap;
    height: 8rem;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.schedule.container
.list
.section:hover {
    border-color: var(--blue);
    color: var(--blue);
}

.schedule.container .list .section span {
    margin-top: 1rem;
}

/* Tablet */
@media (max-width: 1000px) {
    .schedule.container .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .schedule.container .list {
        grid-template-columns: 1fr;
    }
}