.select-menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    padding: calc(0.5rem + 2px) 0.5rem;
}

.select-menu.open {
    border-color: var(--blue400);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select-menu
.value {
    color: var(--light-text);
    flex-grow: 1;
}

.select-menu.has-value
.value {
    color: var(--text);
}

.select-menu i {
    transition: all var(--an-md);
}

.select-menu
.icon {
    padding: 0;
}

.select-menu
.icon:hover,
.select-menu.open
.icon {
    color: var(--blue);
}

.select-menu
.menu {
    background: white;
    border: var(--border-white);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top: 0;
    box-shadow: var(--drop-shadow);
    left: -1px;
    max-height: 10rem;
    overflow: scroll;
    position: absolute;
    right: -1px;
    top: calc(100% + 1px);
    z-index: 1;
}

.select-menu
.menu
.option {
    cursor: pointer;
    padding: 0.5rem;
}

.select-menu
.menu
.option:hover {
    background: var(--blue50);
}
