.student-attendance {
    background: white;
    padding: 2rem;
}

.student-attendance
.student-list {
    background: var(--gray100);
    box-shadow: inset 2px 2px 4px var(--gray400);
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    height: 15rem;
    overflow: scroll;
    padding: 0.5rem;
}

.student-attendance
.student-list
.student {
    cursor: pointer;
    padding: 0.5rem;
}

.student-attendance
.student-list
.student.absent {
    opacity: 0.3;
}

.student-attendance
.buttons {
    display: grid;
    grid-gap: 0.5rem;
}