.student-attendance {
    background: white;
    padding: 2rem;
}

.student-attendance
.student-list {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.student-attendance
.student-list
h3 {
    margin-bottom: 0.5rem;
}

.student-attendance
.student-list
.list {
    max-height: 10rem;
    min-height: 10rem;
    overflow: scroll;
}

.student-attendance
.student-list
.student {
    cursor: pointer;
    padding: 0.5rem 0;
}

.student-attendance
.student-list
.student:hover {
    text-decoration: underline;
}

.student-attendance
.student-list
.student.absent {
    color: var(--gray500);
    text-decoration: line-through;
}

.student-attendance
.buttons {
    display: grid;
    grid-gap: 0.5rem;
}