:root {
    --bold:         700;
    /* Borders by background color */
    --border-white: 1px solid var(--gray300);

    --border-radius: 0.25rem;

    --blue:         var(--blue600);
    --light-blue:   var(--blue400);
    --text:         var(--gray800);
    --light-text:    var(--gray500);

    --dark-red:     var(--red900);
    --red:          var(--red500);
    --dark-orange:  #F57F17;
    --green:        var(--green500);
    --dark-green:   var(--green900);
    --dark-teal:    var(--teal900);
    --dark-blue:    var(--blue900);
    --dark-purple:  var(--purple900);

    --shadow:       0 0 0.125rem rgba(0, 0, 0, 0.125);
    --drop-shadow:  0 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    --dark-shadow:  0 0 0.25rem rgba(0, 0, 0, 0.25);

    --an-md:        200ms ease-in-out;
    --an-sh:        100ms ease-in-out;

    --tablet:       1000px;
    --mobile:       600px;
}